# Folders in templates.
node_modules
dist
coverage
.next
out
.swc
playwright

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# moon
.moon/cache
.moon/docker

# Misc OS.
.DS_Store
*.pem

# pnpm of templates.
/templates/**/pnpm-lock.yaml
