# Folders in templates.
node_modules
dist
coverage
.next
out
.swc
playwright
build

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# moon
.moon/cache
.moon/docker

# Misc OS.
.DS_Store
*.pem

# Internal templates files.
/templates/**/pnpm-lock.yaml
/templates/**/vite.config.mts

# Internal files.
package.json
